*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;

}
nav{
    height: 50px;
    display : grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: antiquewhite;
}
nav a {
    color:rgb(5, 55, 219);
    text-decoration: none;
    
}
nav a:hover {
    color: yellow;
}
.logo {
    
}
.nav_items ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
}

body{
    background-image: url(images/state_images/montana_bg_image.jpg);
    object-fit: cover;
    height: 40em;
    width: 100%;
    position: fixed;
}
.empty_space {
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
    
}
.state {
    background-color: rgb(239, 248, 245);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
}

.state_aside {
    display: flex;
    border: 1px solid red;
    height:260px;
    justify-content: center;
    margin: 0px 120px;
    overflow: visible;
    
}

.state_container {
    display: flex;
    border: 1px solid blue;
    height: 70px;
    width: 250px;
}

.footer {
    display: flex;
    
}
